{% extends 'shopapp/base.html' %}

{% block title %}
    Удаление заказа {{ object.pk }} 
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <p>Вы уверены, что хотите удалить заказ #{{ object.pk }} от {{ object.order_date|date:"d.m.Y" }}?</p>
        {{ form }} 
        <button type="submit">Удалить заказ</button>
    </form>
    <hr />

    <div>
        <a href="{% url "shopapp:order_detail" pk=object.pk %}">Вернуться в свойствам заказа</a>
    </div>

{% endblock %}