{% extends 'shopapp/base.html' %}

{% block title %}
    Список товаров
{% endblock %}

{% block body %}
    <h1>Товары:</h1>
    {% if object_list  %}
        <div>
        {% for product in object_list  %}
            <div>
                <h3><a href="{% url 'shopapp:product_detail' pk=product.pk %}">{{ product.name }}</a></h3>
                <p>Цена: {{ product.price }}</p>
                <p>Описание: {% firstof product.description 'Нет описания' %}</p>
                <p>Цена: {{ product.price }}</p>
                {% if product.preview  %}
                <img src={{ product.preview.url }} alt="{{ product.name }}">
                {% endif %}
            </div>
            <hr />
        {% endfor %}
        </div>
    {% else %}
        <h3>Пока товаров нет</h3>
    {% endif %}
    
    {% if perms.shopapp.add_product %}
    <div>
        <a href="{% url "shopapp:product_create" %}">Форма создания товара</a>
    </div>
    {% endif %}

{% endblock %}